<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>strDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>82EDF41720AD3932008EA4AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82EDF43020AD3932008EA4AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82EDF43B20AD3932008EA4AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
