<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tablecell.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>828B540720ABDD6000CA1AC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>828B542020ABDD6100CA1AC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>828B542B20ABDD6100CA1AC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
